<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float-y {
    animation: float-y 6s ease-in-out infinite;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
    opacity: 0;
  }

  .animate-bounce-slow {
    animation: bounce-slow 3s infinite ease-in-out;
  }
}

@keyframes float-y {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float-y {
    animation: float-y 6s ease-in-out infinite;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
    opacity: 0;
  }

  .animate-bounce-slow {
    animation: bounce-slow 3s infinite ease-in-out;
  }
}

@keyframes float-y {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
>>>>>>> a1c76c45b8057bdb889cea829282a0d7039dfa9e
}